@font-face {
    font-family: 'Gears Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Gears Regular'), url('Gears.woff') format('woff');
    }

h1 {
    font-family: 'Gears Regular';
    font-weight: 200;
    color: rgb(185, 207, 171); 
}